<% layout("/layouts/boilerplate")%>
<div class="row">
    <div class="col-6 offset-3">
        <br>
    <h3 ><%=listing.title%></h3>
    <br>
 <div class="card">
  <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing_image">
   <div class="card-body">
    <p class="card-text">
         <ul>
        
          <li><%=listing.description%></li>
          <li>&#8377; <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %></li>
          <li><%=listing.location%></li>
          <li><%=listing.country%></li>
        </ul>
    </p>
   </div>
  </div>

    <br>

    <div class="btns">

        <a href="/listings/<%=listing._id%>/edit" class=" btn btn-dark">Edit</a>
  

    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="offset-10 btn btn-danger">
            DELETE
        </button>
    </form>

    </div>
    <br>

            
    </div>
    <hr>
    <div class="col-6 offset-3">
        <h4>LEAVE A REVIEW</h4>
        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" cols="25" rows="5" class="form-control" required ></textarea>
                <div class="invalid-feedback">Please add some comments</div>
            </div>
            <button class="btn btn-outline-dark">add</button>
        </form>

        <hr/>

        <div class="row">
             <h6>ALL Review</h6>
        <% for(review of listing.reviews){ %>
            <div class="card col-6 mb-3">
               <div class="card-body rev">
                <h5 class="card-title">USERNAME</h5>
                <p class="card-text"><%=review.comment%></p>
                <p class="card-text"><%=review.rating%></p>
            </div>

            </div>

         <%  } %>
        </div>


    </div>
</div>
    